{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

{% block content %}
<h1>Workouts</h1>
<ul>
    {% for workout in workouts %}
        <li>
            <a href="{% url 'workout_detail' workout.id %}">{{ workout.date }}</a>
            <a href="{% url 'workout_edit' workout.id %}">Edit</a>
            <form method="POST" action="{% url 'workout_delete' workout.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% empty %}
        <li>No workouts yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'workout_new' %}">Create a new workout</a>

<h1>Exercises</h1>
<ul>
    {% for exercise in exercises %}
        <li>
            <a href="{% url 'exercise_detail' exercise.id %}">{{ exercise.name }}</a> <!-- Replace with your actual field name -->
            <a href="{% url 'exercise_edit' exercise.id %}">Edit</a>
            <form method="POST" action="{% url 'exercise_delete' exercise.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% empty %}
        <li>No exercises yet.</li>
    {% endfor %}
</ul>
{% endblock %}
